# Music Listening Habits Data Mining

In [3]:
import pandas as pd
import os
import json

## Data needs to support vizualisation

- Top 15 artists (name & link) ✅
- Listening duration per artist ✅
- Number of different tracks listened per artist ✅

- Top 15 genres for each user ✅
- Listening time for each genre ✅
- Proportion of listening per genre ✅

- Average listening time per user ✅

- Ranking of genres per period (each week, each months)
- Ranking of tracks per period (each week, each months)✅
- Ranking of artist per period  (each week, each months)✅

- Exact listening time per user per date

## Import Data for each users

In [60]:
df_clement = pd.read_excel("./data/Archive-Clement-Deezer/clement-deezer-data.xlsx", "10_listeningHistory")

In [55]:
df_clement.head(5)

,Song Title,Artist,ISRC,Album Title,IP Address,Listening Time,Platform Name,Platform Model,Date
0,Beggin,Madcon,NOBLV0703011,Beggin,37.165.218.4,1,android,HUAWEI ANE-LX1,2022-03-08 13:49:04
1,Beggin,Madcon,NOBLV0703011,Beggin,37.166.33.146,218,android,HUAWEI ANE-LX1,2022-02-22 16:19:01
2,Beggin,Madcon,NOBLV0703011,Beggin,37.166.68.99,218,android,samsung SM-A528B,2023-11-11 11:07:36
3,Beggin,Madcon,NOBLV0703011,Beggin,193.51.159.240,4,android,HUAWEI ANE-LX1,2022-04-20 09:07:38
4,Beggin,Madcon,NOBLV0703011,Beggin,37.169.42.32,218,android,HUAWEI ANE-LX1,2022-02-27 18:53:00

In [54]:
df_clement.count("")

Song Title        36276
Artist            36276
ISRC              36276
Album Title       36276
IP Address        36276
Listening Time    36276
Platform Name     36276
Platform Model    31978
Date              36276
dtype: int64

## Retrieve useful columns

In [18]:
df_clement = df_clement[["Song Title", "Artist", "Album Title", "Date"]]

## Columns format

In [56]:
df_clement = df_clement.sort_values("Date")
df_clement['Date'] = pd.to_datetime(df_clement['Date'])

In [59]:
(df_clement.head
(1))

,Song Title,Artist,ISRC,Album Title,IP Address,Listening Time,Platform Name,Platform Model,Date
9366,Mme Pavoshko,Black M,FR7U61200382,Le monde plus gros que mes yeux,88.170.1.13,256,android,NaN,2015-06-21 18:15:59

## Explore within time interval

In [41]:
# Define the date interval
start_date = "2024-01-01"
end_date = "2025-01-31"

# Filter the DataFrame
date_filtered_df = df_clement[(df_clement['Date'] >= start_date) & (df_clement['Date'] <= end_date)]

In [42]:
artist_counts = date_filtered_df.groupby('Artist').size().reset_index(name='Total Count')

In [43]:
artist_counts.sort_values("Total Count", ascending=False).head(15)

               Artist  Total Count
141   Imagine Dragons          292
129          Grandson          261
296           Starset          168
186       Linkin Park          138
313  System of a Down          115
308         Sub Urban          105
347  Three Days Grace          101
131         Green Day           95
137  Hollywood Undead           92
103   Escape the Fate           91
229           Nirvana           91
216          Måneskin           89
36      Black Sabbath           80
282         Shinedown           78
311             Sueco           77

----

In [70]:
df_clement = pd.read_excel("./data/Archive-Clement-Deezer/clement-deezer-data.xlsx", "10_listeningHistory")
df_clement = df_clement.sort_values("Date")
df_clement['Date'] = pd.to_datetime(df_clement['Date'])
artist_counts = df_clement.groupby('Artist').size().reset_index(name='Total Count').sort_values("Total Count", ascending=False)

In [71]:
artist_counts

                            Artist  Total Count
483                Imagine Dragons         1531
443                       Grandson          804
1139              System of a Down          757
1226              Three Days Grace          629
672                    Linkin Park          530
...                            ...          ...
255                  Daniele Leoni            1
791                Missing Persons            1
795                           Moby            1
796                Modern Machines            1
0     100 Ans De Musiques De Films            1

[1358 rows x 2 columns]

                                                 Artist  Total Count
0                          100 Ans De Musiques De Films            1
1                     113, Magic System, Mohamed Lamine            1
2                                             12 Stones            4
3                                    2010s Karaoke Band            1
4                                               2CELLOS            5
...                                                 ...          ...
1353                                        soundssdeep            1
1354                                    the EPM project           46
1355                                           youtunes            5
1356                                            Ødyssey           26
1357  Музыка для Учебы, Douce détente academie, Musi...            8

[1358 rows x 2 columns]

In [83]:
timespans = [
    ("4 weeks", ('2024-11-22', '2024-12-22')),
    ("3 months", ('2024-09-22', '2024-12-22')),
    ("6 months", ('2024-06-22', '2024-12-22')),
    ("1 year", ('2023-11-22', '2024-12-22')),
    ("all time", ('2002-01-01', '2024-12-22'))
]

In [84]:
original_clement = pd.read_excel("./data/Archive-Clement-Deezer/clement-deezer-data.xlsx", "10_listeningHistory")

original_clement = df_clement[["Song Title", "Artist", "Album Title", "Date"]]
original_clement = original_clement.sort_values("Date")
original_clement['Date'] = pd.to_datetime(original_clement['Date'])


for timespan in timespans:
    print(timespan)
    copy = original_clement.copy()
    
    copy = copy[(copy['Date'] >= timespan[1][0]) & (copy['Date'] <= timespan[1][1])]
    
    df_top_songs = df_top_artist = copy.groupby('Song Title').size().reset_index(name='Total Count').sort_values('Total Count', ascending=False).head(15)
    
    df_top_artists = copy.groupby('Artist').size().reset_index(name='Total Count').sort_values('Total Count', ascending=False).head(15)
    
    df_top_albums = copy.groupby('Album Title').size().reset_index(name='Total Count').sort_values('Total Count', ascending=False).head(15)
    
    df_top_genres = None
    
    print(df_top_artists, df_top_songs, df_top_albums)

('4 weeks', ('2024-11-22', '2024-12-22'))
                       Artist  Total Count
86                       d4vd           21
83                    Woodkid           20
62        Royal & the Serpent           19
27                  FEVER 333           15
6                    Ashnikko           15
82          Twenty One Pilots           14
45                 Mako, Grey           13
84                       Zand           13
50              Misha Mansoor           13
61  Raja Kumari, Stefflon Don           13
4   Arcane, League of Legends           12
28              Freya Ridings           12
71             Stromae, Pomme           12
40              King Princess           12
23                 Eason Chan           11                                            Song Title  Total Count
89  To Ashes and Blood (from the series Arcane Lea...           20
93  Wasteland (from the series Arcane League of Le...           16
35  Hellfire (from the series Arcane League of Leg...           15
57  Paint The Town Blue (from the series Arcane Le...           15
16  Cocktail Molotov (from the series Arcane Leagu...           13
96  What Have They Done To Us (from the series Arc...           13
85  The Line (from the series Arcane League of Leg...           13
84  The Beast (from the series Arcane League of Le...           13
65  Renegade (We Never Run) (from the series Arcan...           13
38  I Can't Hear It Now (from the series Arcane Le...           12
28  Fantastic (from the series Arcane League of Le...           12
49  Ma Meilleure Ennemie (from the series Arcane L...           12
80  Spin The Wheel (from the series Arcane League ...           12
17  Come Play (from the series Arcane League of Le...           11
62  Rebel Heart (from the series Arcane League of ...           11                                           Album Title  Total Count
5   Arcane League of Legends: Season 2 (Soundtrack...          272
52                                        Planet Zero            4
40                                          Mezmerize            4
72                                      Transmissions            4
50                                        Overwhelmed            3
38                               Mercury - Acts 1 & 2            3
37                                            Meliora            3
78                                            Wrecked            3
62                                    Smoke + Mirrors            2
39                                            Meteora            2
4                                             Animals            2
24                                             Hozier            2
55                      Rain (from The Suicide Squad)            2
69                          The End Is Where We Begin            2
17                                    Escape The Fate            2
('3 months', ('2024-09-22', '2024-12-22'))
                                  Artist  Total Count
53                       Imagine Dragons           63
139                              Woodkid           47
72                           Marcus King           46
97             Raja Kumari, Stefflon Don           46
40                             FEVER 333           42
42                         Freya Ridings           40
47                              Grandson           36
76         Mike Shinoda, Emily Armstrong           33
122                     System of a Down           31
116  Stray Kids, Young Miko, Tom Morello           29
111                              Starset           28
104                     Sheryl Lee Ralph           27
67                           Linkin Park           24
135                    Twenty One Pilots           23
10   Ashnikko, Arcane, League of Legends           22                                             Song Title  Total Count
182  To Ashes and Blood (from the series Arcane Lea...           47
166  Sucker (from the series Arcane League of Legends)           46
140  Renegade (We Never Run) (from the series Arcan...           46
75   Hellfire (from the series Arcane League of Leg...           42
82   I Can't Hear It Now (from the series Arcane Le...           40
126  Paint The Town Blue (from the series Arcane Le...           37
73   Heavy Is The Crown (Original Score) (from the ...           33
34   Come Play (from the series Arcane League of Le...           29
18   Blood Sweat & Tears (from the series Arcane Le...           27
194  Wasteland (from the series Arcane League of Le...           16
198  What Have They Done To Us (from the series Arc...           13
176  The Line (from the series Arcane League of Leg...           13
175  The Beast (from the series Arcane League of Le...           13
33   Cocktail Molotov (from the series Arcane Leagu...           13
111                                            Monster           13                                            Album Title  Total Count
12   Arcane League of Legends: Season 2 (Soundtrack...          272
13   Arcane League of Legends: Season 2 (from the s...          230
160                                      Transmissions           20
133                                    Smoke + Mirrors           15
2                                                   13           13
114                                        Planet Zero           13
107                                              One-X           12
97                                           Nevermind           11
68                                      Human (Deluxe)           11
91                                             Meteora           11
27                                          Blurryface           10
129                                             Sharks           10
92                                           Mezmerize           10
47                                     Escape The Fate           10
34                                          Chop Suey!            9
('6 months', ('2024-06-22', '2024-12-22'))
                        Artist  Total Count
72             Imagine Dragons          144
66                    Grandson          108
151                    Starset           74
163           System of a Down           66
94                 Linkin Park           65
114                   Måneskin           59
177           Three Days Grace           55
51             Escape the Fate           53
70            Hollywood Undead           48
188                    Woodkid           47
160                  Sub Urban           46
145                  Shinedown           46
102                Marcus King           46
136  Raja Kumari, Stefflon Don           46
68                   Green Day           43                                             Song Title  Total Count
261  To Ashes and Blood (from the series Arcane Lea...           47
235  Sucker (from the series Arcane League of Legends)           46
202  Renegade (We Never Run) (from the series Arcan...           46
103  Hellfire (from the series Arcane League of Leg...           42
115  I Can't Hear It Now (from the series Arcane Le...           40
184  Paint The Town Blue (from the series Arcane Le...           37
101  Heavy Is The Crown (Original Score) (from the ...           33
166                                            Monster           30
43   Come Play (from the series Arcane League of Le...           29
21   Blood Sweat & Tears (from the series Arcane Le...           27
87                                            Gasoline           26
32                                             Carsick           23
15                                            Believer           23
8                                             B.Y.O.B.           22
33                                            Champion           22                                            Album Title  Total Count
14   Arcane League of Legends: Season 2 (Soundtrack...          272
15   Arcane League of Legends: Season 2 (from the s...          230
215                                      Transmissions           45
2                                                   13           34
156                                        Planet Zero           33
143                                              One-X           32
211                                      Thrill Seeker           32
89                                      Human (Deluxe)           28
124                                            Meteora           27
180                                    Smoke + Mirrors           27
133                                          Nevermind           27
122                               Mercury - Acts 1 & 2           25
16                                  Are We Having Fun?           23
85                     Hollow Knight Piano Collections           23
30                                          Blurryface           22
('1 year', ('2023-11-22', '2024-12-22'))
               Artist  Total Count
151   Imagine Dragons          344
138          Grandson          326
310           Starset          202
197       Linkin Park          167
322         Sub Urban          132
327  System of a Down          119
362  Three Days Grace          114
110   Escape the Fate          111
241           Nirvana          109
140         Green Day          108
147  Hollywood Undead          103
325             Sueco           95
201            MISSIO           93
228          Måneskin           90
111    Ethan Bortnick           89                                    Song Title  Total Count
180                                  Gasoline           77
337                                   Monster           73
40                                   Believer           66
575                        cut my fingers off           60
174                     Freak (feat. REI AMI)           54
342                                 My Demons           54
75                            Californication           53
423                                    Savage           53
393             Rain (from The Suicide Squad)           52
210  Help Myself (Nous Ne Faisons Que Passer)           51
179                                    GRRRLS           50
151                       Everybody Gets High           50
419                                      Salt           50
250                                    Insane           50
22                                      Ashes           50                                            Album Title  Total Count
36   Arcane League of Legends: Season 2 (Soundtrack...          272
37   Arcane League of Legends: Season 2 (from the s...          230
449                                      Transmissions          133
268                                            Meteora           96
442                                      Thrill Seeker           88
285                                          Nevermind           85
300                                              One-X           63
325                                        Planet Zero           63
5                                                   13           62
490                                 cut my fingers off           60
194                                     Human (Deluxe)           58
371                                    Smoke + Mirrors           54
76                                     Californication           53
361                                             Savage           53
340                      Rain (from The Suicide Squad)           52
('all time', ('2002-01-01', '2024-12-22'))
                 Artist  Total Count
483     Imagine Dragons         1531
443            Grandson          804
1139   System of a Down          757
1226   Three Days Grace          629
672         Linkin Park          530
876             Nirvana          509
1258  Twenty One Pilots          506
973      Rag'n'Bone Man          452
446           Green Day          452
1264                 U2          449
962               Queen          444
1102            Starset          431
10                AC/DC          410
132       Black Sabbath          348
266        David Guetta          317                          Song Title  Total Count
201                        Believer          333
1434                        Monster          274
1742                    Radioactive          233
1930                           Skin          221
608                           Enemy          218
1358                      Mad World          216
973             I Love Rock 'N Roll          202
943                           Human          201
762                        Gasoline          198
1229               Leave a Light On          195
1782                           Ride          193
2047           Sunday Bloody Sunday          193
2022                   Stressed Out          190
2478                     Wonderwall          188
1168  L'hymne de nos campagnes 2019          185                                             Album Title  Total Count
469               Elden Ring (Original Game Soundtrack)          501
702                                      Human (Deluxe)          448
620                                       Greatest Hits          436
231                                          Blurryface          400
1142                                              One-X          386
1083                                          Nevermind          354
1003                                            Meteora          301
1690                                      Transmissions          290
129   Arcane League of Legends: Season 2 (Soundtrack...          272
1089                                      Night Visions          243
1435                                 Songs Of Innocence          231
130   Arcane League of Legends: Season 2 (from the s...          230
197                                        Best Of 2017          227
1590                                        The Hurting          216
499                                              Evolve          208

---

# Matt's data

In [56]:
df_matthieu1 = pd.read_json("data/Archive-Matthieu-Spotify/Spotify Account Data/StreamingHistory_music_0.json")
df_matthieu2 = pd.read_json("data/Archive-Matthieu-Spotify/Spotify Account Data/StreamingHistory_music_1.json")
df_matthieu3 = pd.read_json("data/Archive-Matthieu-Spotify/Spotify Account Data/StreamingHistory_music_2.json")

df_matthieu = pd.concat([df_matthieu1, df_matthieu2, df_matthieu3])

In [53]:
df_matthieu["endTime"] = pd.to_datetime(df_matthieu['endTime'])
df_matthieu = df_matthieu.sort_values("endTime", ascending=True)
df_matthieu['msPlayed'] = (df_matthieu["msPlayed"] / 100).astype(int)

In [55]:
df_matthieu.groupby('artistName').size().reset_index(name='Total Count').sort_values('Total Count', ascending=False)

             artistName  Total Count
833       Forrest Frank          888
1836                 NF          664
2566     Tiffany Hudson          531
2358     Sofiane Pamart          439
724   Elevation Worship          420
...                 ...          ...
1331           KAMAMILK            1
1330           KAFFKIEZ            1
1329           K3ndrick            1
1328                K2S            1
2958          麦吉_Maggie            1

[2959 rows x 2 columns]

In [57]:
df_matthieu

               endTime    artistName                      trackName  msPlayed
0     2023-09-17 19:40           AJR  Sober Up (feat. Rivers Cuomo)      4866
1     2023-12-04 17:07        Lecrae                They Ain’t Know     69652
2     2023-12-05 01:01          gio.                        shadows     69115
3     2023-12-05 07:09  Young Oceans                You Are Not Far    134626
4     2023-12-05 07:13  Josiah Queen              Fishes and Loaves    216979
...                ...           ...                            ...       ...
7807  2024-12-05 23:41            NF         How Could You Leave Us    322586
7808  2024-12-05 23:44            NF                            Lie    209213
7809  2024-12-05 23:49            NF                           HOPE    264473
7810  2024-12-05 23:53            NF                          TRUST    264415
7811  2024-12-05 23:56            NF                 When I Grow Up    196800

[27812 rows x 4 columns]

---

# API Request for genres